<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
    <%- include ('partials/nav'); %>
    <div class="container">
        <h2 class="white-text center">This is how you contact <%= qs.person %></h2>
        <p class="flow-text white-text">You're trying to contact <%= qs.person %> from <%= qs.dept %></p>
    </div>
    <div class="container">
        <div class="row">
            <!-- Makes a POST request to the /contact URL -->
            <form id="contact-form" method="POST" action="/contact">
                <label class="white-text" for="who">Who do you want to contact?</label>
                <input type="text" name="who" value="<%= qs.person %>">
                <label class="white-text" for="department">Which department do you want to contact?</label>
                <input type="text" name="department" value="<%= qs.dept %>">
                <label class="white-text" for="email">Your Email</label>
                <input type="text" name="email">
                <button class="waves-effect waves-light btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>